*{
    margin: 0%;
    overflow: hidden;
    text-decoration: none;
}

.cabecalho{
    width: 100%;
    height: 10vh;
    background-color: #213555;
}

.paginas a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 32px;
    top: 3vh;
    left: 3%;
    color: rgb(243, 234, 234);
    padding: 0%;
}

.paginas a:hover {
    color: rgb(198, 198, 198);
}

.paginas #home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 32px;
    top: 3vh;
    left: 46%;
    color: rgb(243, 234, 234);
    padding: 0%;
}

.paginas #home:hover {
    color: rgb(172, 169, 169);
}


.paginas #Pesquisar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 32px;
    top: 3vh;
    left: 90%;
    color: rgb(243, 234, 234);
    padding: 0%;
}
.paginas #Pesquisar:hover {
    color: rgb(172, 169, 169);
}



.container {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #3E5879;
    margin: 0%;
}

.container button {
    display: inline-flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    width: 70%;
    height: 10vh;
    left: 13%;
    top: 2vh;
    background-color: rgb(206, 202, 197);

}

.container button:hover {
    background-color: rgb(240, 247, 247);
}

.container .menu {
    font-size: 30px;
    width: 100%;
    height: 30vh;
    top: 0vh;
}

.container .menu2 {
    font-size: 30px;
    width: 100%;
    height: 30vh;
    top: 0%;
}
.container #botcliente{
    background-color: rgb(223, 225, 225);
}

.container .menu3 {
    font-size: 30px;
    width: 100%;
    height: 30vh;
    top: 0vh;
}


.tabela {
    display: block;
    position: fixed;
    bottom: 0%;
    border: 2px solid black;
    left: 2%;
    width: 95%;
    height: 75vh;
    background-color: #D8C4B6;
}

.tabela h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    font-size: 40px;
    top: 10px;
    text-align: center;
}

.tabela label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    display: block;
    left: 20%;
    top: 5vh;
    position: relative;



}

.tabela input {
    color: rgb(0, 0, 0);
    width: 60%;
    height: 4vh;
    top: 5vh;
    font: 30px sans-serif;
    display: block;
    position: relative;
    left: 20%;
    border-radius: 10px;
    bottom: 5px;
    cursor: text;
    padding: 15px;
}

.tabela button {
    color: rgb(248, 248, 248);
    background-color: rgb(88, 86, 86);
    width: 20%;
    font-weight: bolder;
    height: 10vh;
    top: 8vh;
    font: 30px sans-serif;
    display: block;
    position: relative;
    left: 40%;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
}

.tabela button:hover {
    background-color: rgb(72, 72, 72);
}



.final {
    position: fixed;
    width: 100%;
    bottom: 0%;
    height: 10vh;
    background-color: #213555;
}

.paginas #Pesquisar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 32px;
    top: 3vh;
    left: 90%;
    color: rgb(243, 234, 234);
    padding: 0%;
}
.paginas #Pesquisar:hover {
    color: rgb(172, 169, 169);
}
