*{
    margin: 0;
    overflow: hidden;
    text-decoration: none;
 }
.cabecalho{
    width: 100%;
    height: 10vh;
    background-color: #213555;
   
}


#percentual{
    display: block;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30%;
    font-size: 200%;
    font: bolder;
    background-color:transparent;
    left: 80%;
    top: -8vh;
}

.paginas a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 32px;
    top: 3vh;
    left: 3%;
    color: rgb(243, 234, 234);
    padding: 0%;
}

.paginas a:hover {
    color: rgb(198, 198, 198);
}

.paginas #home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 32px;
    top: 3vh;
    left: 46%;
    color: rgb(243, 234, 234);
    padding: 0%;
}
.paginas #home:hover {
    color: rgb(172, 169, 169);
}





/*------------- CABEÇALHO -----------------*/


.container {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #3E5879;
    margin: 0%;
}

.container button {
    display: inline-flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    width: 70%;
    height: 10vh;
    left: 13%;
    top: 2vh;
    background-color: rgb(206, 202, 197);

}

.container button:hover {
    background-color: rgb(240, 247, 247);
}

.container .menu {
    font-size: 30px;
    width: 100%;
    height: 30vh;
    top: 0vh;
}

.container .menu2 {
    font-size: 30px;
    width: 100%;
    height: 30vh;
    top: 0%;
}
.container #botcliente{
    background-color: rgb(223, 225, 225);
}

.container .menu3 {
    font-size: 30px;
    width: 100%;
    height: 30vh;
    top: 0vh;
}

/*. -----------------------------FORMULARIO PESQUISAR-----------------------------*/

.input-group{
    display:flex;
    position: relative;
    width: 124%;
    height: 20vh;
}

 .input-icon{
    display: flex;
    position: relative;
    background-color: aqua;
    left: 86%;
    font-size: 20px;
    top: 7.4vh;
    height: 10vh;
    width: 0%;
}

#search{
    display: flex;
    position: relative;
    width: 85%;
    height: 5vh;
    left: 0%;
    bottom: 0%;
    padding: 10px;
    font-size: 20px;
    border: 3px solid black;
    }
/*. -----------------------------FORMULARIO PESQUISAR-----------------------------*/


.final{
    position: fixed;
    width: 100%;
    bottom:0%;
    height: 10vh;
    background-color: #213555;
}

/*. -----------------------------FORMULARIO-----------------------------*/
.tabela {
    display: block;
    position: fixed;
    bottom: 0%;
    border: 2px solid black;
    left: 2%;
    width: 95%;
    height: 75vh;
    background-color: #D8C4B6;
}

.tabela h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    font-size: 40px;
    top: 10px;
    text-align: center;
}

.tabela label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    display: block;
    left: 5%;
    top: 5vh;
    position: relative;



}

.tabela input {
    color: rgb(0, 0, 0);
    width: 50%;
    height: 4vh;
    top: 5vh;
    font: 30px sans-serif;
    display: block;
    position: relative;
    left: 5%;
    border-radius: 10px;
    bottom: 5px;
    cursor: text;
    padding: 15px;
}

.tabela button {
    color: rgb(248, 248, 248);
    background-color: rgb(88, 86, 86);
    width: 20%;
    font-weight: bolder;
    height: 10vh;
    top: -7vh;
    font: 30px sans-serif;
    display: block;
    position: relative;
    left: 40%;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
}

.tabela button:hover {
    background-color: rgb(72, 72, 72);
}


.tabela #cartoes{
    display: block;
    position: relative;
    width: 20%;
    text-align: center;
    height: 8vh;
    top: 10vh;
    left: 35%;
    border: 2px solid black;
    font-size: 20px;
}
.tabela #valor{
    display: flex;
    position: relative;
    width: 15%;
    left: 60%;
    top: -3vh;
}


.tabela #custo{
    display: flex;
    position: relative;
    font-size: 150%;
    width: 13%;
    left: 80%;
    top: -11.5vh;
}

.tabela #custo1{
    display: flex;
    position: relative;
    font-size: 200%;
    width: 20%;
    left: 40%;
    top: -21vh;
}

.tabela textarea{
    display:flex;
    position: relative;
    width: 50%;
    height: 10vh;
    left: 5%;
    top: -12vh;
    font-size: 20px;
    padding: 1%;

}
